# Server Port Configuration
PORT=3000

# Optional: Path to custom Google Chrome executable for Puppeteer / WhatsApp Web Client
# PUPPETEER_EXECUTABLE_PATH=C:\Program Files\Google\Chrome\Application\chrome.exe
